*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.header {
    background-color: rgb(7, 80, 183);
    width: 100%;
    height: 15vh;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}

.menu-hamburguer{
    width: 5%;
    height: 5vh;

    margin: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.line-menu{
    background-color: #fff;
    width: 90%;
    height: 5px;
}